/* src/index.css (or src/main.css) */

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  /* IMPORTANT */
  display: block;
}

#root {
  max-width: none;
  padding: 0;
}